[submodule "lib/static_init"]
	path = lib/static_init
	url = https://gitlab.com/vkahl/static_init.git
[submodule "retainer"]
	path = retainer
	url = git@github.com:gcxfd/retainer.git
[submodule "lib/retainer"]
	path = lib/retainer
	url = git@github.com:gcxfd/retainer.git
[submodule "lib/tonic"]
	path = lib/tonic
	url = git@github.com:hyperium/tonic.git
